<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title th:text="|다모아 후기게시판 - ${Review.reviewTitle}|"></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <script th:replace="~{/layout/includeLink::includeLink}"></script>

</head>

<body>

<!-- 헤더 -->
<div th:replace="~{/layout/header::header}"></div>

<!-- 사이드바 -->
<div th:replace="~{/layout/sidebar::sidebar}"></div>

<main id="main" class="main">
  <div class="reviewTitle">
    <div>올바른 중고 거래를 위해 바른 말을 사용해주세요.</div>
    <div class="row">
      <div class="col-6">
        <h3>
          <b th:text="${Review.reviewTitle}"></b>
        </h3>
      </div>
      <div class="col-6">
        <p class="text-end"></p>
      </div>
    </div>
  </div>
  <!-- 제목 -->

  <section class="section">
    <div class="row align-items-top">
      <div class="col-lg-12">
        <!-- 작성자 -->
        <div class="card">
          <div class="row m-3 gx-3">
            <div class="col d-flex align-item-center">
              <div class="p-1">
                <strong th:text="${Review.userNickname}">
                  닉네임
                </strong>
              </div>
              &nbsp; &nbsp; &nbsp;
              <div class="p-1" th:text="${#temporals.format(Review.reviewDate, 'yyyy.MM.dd')}">
                날짜
              </div>
            </div>
            <div class="col">
              <input type="hidden" id="review_no" th:value="${Review.reviewNo}"/>
              <div class="d-flex justify-content-end gap-2">
                <!-- 버튼 영역 -->
                <button id="deleteBtn" type="button" class="btn btn-outline-danger" th:onclick = "|location.href='@{deleteReview(review_no=${Review.reviewNo})}'|">
                  삭제
                </button>
                <button id="updateBtn" type="button" class="btn btn-outline-danger" th:onclick = "|location.href='@{updateReview(review_no=${Review.reviewNo})}'|">
                  수정
                </button>
                <button id="reportBtn" type="button" class="btn btn-outline-danger">
                  신고
                </button>
                <button id="heartBtn" type="button" class="btn btn-outline-primary">
                  <i class="bi bi-bag-heart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- 작성자 -->
      </div>
    </div>
  </section>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <!-- 내용 -->
        <div class="card">
          <div id="file" class="card-body py-3">
            <div class="row gx-2">
              <div class="col pt-2">
                첨부파일
              </div>
              <div class="col-11">
                <input type="file" id="img" class="px-2 form-control" name="img">
              </div>
            </div>
          </div>
          <div class="card-body py-3">
            <div class="d-flex border rounded p-3" style="height: 200px;" th:text="${Review.reviewContent}">
              내용
            </div>
          </div>
        </div>
        <!-- 내용 -->
      </div>
    </div>
  </section>

  <section class="section">
    <div class="row align-items-top">
      <div class="col-lg-12">
        <!-- 댓글 -->
        <div class="card">
          <div class="card-body py-3">댓글</div>
          <div class="row ps-3 g-2">
            <div class="col">
              <input type="text" class="form-control" id="commentContent" value=""/>
            </div>
            <div class="me-3 col-1 d-flex flex-row-reverse">
              <button
                      id="AddCommentBtn"
                      class="btn btn-outline-primary"
              >
                작성
              </button>
            </div>
          </div>
          <div class="card-body py-3 m-2" id="commentList">
            <div class="alert alert-secondary row" >
              <div class="col-9">임시내용</div>
              <div class="col-2">
                2024-12-08<br>
                작성자
              </div>
              <div class="col-1">
                <button class="m-1 btn btn-outline-primary updateCommentBtn">수정</button>
                <button class="m-1 btn btn-outline-primary deleteCommentBtn">삭제</button>
              </div>
            </div>
            <div
                    class="alert alert-secondary alert-dismissible fade show"
                    role="alert"
            >
              ㅎ히히히히ㅣ히히히
            </div>
            <div
                    class="alert alert-secondary alert-dismissible fade show"
                    role="alert"
            >
              ㅎ히히히히ㅣ히히히
            </div>
          </div>
        </div>
        <!-- 댓글 -->
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
<script src="/assets/js/comment.js" />

<!-- includeAsset -->
<div th:replace="~{/layout/includeAsset::includeAsset}"></div>

</body>

</html>