<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title th:text = "|다모아 판매게시판 - ${categoryName}|"></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <script th:replace = "~{/layout/includeLink::includeLink}"></script>


</head>

<body>

<!-- 헤더 -->
<div th:replace = "~{/layout/header::header}"></div>

<!-- 사이드바 -->
<div th:replace = "~{/layout/sidebar::sidebar}"></div>

<main id="main" class="main">

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">홈</a></li>
        <li id="categoryName" class="breadcrumb-item active" th:text = "${categoryName}">카테고리 이름</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <div class="row pt-3">
              <div class="col">
                <h5 class="fw-bold" th:text = "${categoryName}">카테고리 이름</h5>
              </div>
              <div class="col">
                <div class="d-flex justify-content-end gap-2">
                  <button id="addBtn" type="button" class="btn btn-outline-primary" th:onclick = "|location.href='@{addBoard(category_name=${categoryName})}'|">
                    게시글 작성
                  </button>
                </div>
              </div>
            </div>

            <p>올바른 중고 거래를 위해 바른 말을 사용해주세요.</p>
            <table class="table ">
              <thead>
                <tr>
                  <th>글번호</th>
                  <th>닉네임</th>
                  <th>제목</th>
                  <th>가격</th>
                  <th>장소</th>
                  <th data-type="date" data-format="yyyy-MM-dd">등록일</th>
                  <th>찜하기</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each = "board : ${BoardList}" >
                  <td class="boardNo" th:text = "${board.boardNo}"></td>
                  <td th:text = "${board.userNickname}"></td>
                  <td>
                    <a th:href = "@{/product(board_no = ${board.boardNo})}" th:text = "${board.boardTitle}"></a>
                  </td>
                  <td th:text = "${board.boardPrice}"></td>
                  <td th:text = "${board.boardLocation}"></td>
                  <td th:text = "${#temporals.format(board.boardDate, 'yyyy.MM.dd')}"></td>
                  <td>
                    <button id="heartBtn" class="m-1 btn btn-outline-primary bi bi-bag-heart"></button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="d-flex justify-content-center" th:if="${!BoardList.isEmpty()}">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item" th:classappend="${!BoardList.hasPrevious} ? 'disabled'">
                  <a class="page-link" href="#" aria-label="Previous" th:href="@{|?page=${BoardList.number-1}&category_no=${categoryNo}|}">
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                <li class="page-item"
                    th:if="${page >= BoardList.number-2 and page <= BoardList.number+2}"
                    th:each="page: ${#numbers.sequence(0, BoardList.totalPages-1)}"
                    th:classappend="${page == BoardList.number} ? 'active'">
                  <a class="page-link" th:text="${page}" th:href="@{|?page=${page}&category_no=${categoryNo}|}">1</a>
                </li>
                <li class="page-item" th:classappend="${!BoardList.hasNext} ? 'disabled'">
                  <a class="page-link" aria-label="Next" th:href="@{|?page=${BoardList.number+1}&category_no=${categoryNo}|}">
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<!-- <head>로 올리면 Jquery보다 먼저 선언돼서 오류 발생 -->
<script src="/assets/js/boardList.js" />

<!-- includeAsset -->
<div th:replace = "~{/layout/includeAsset::includeAsset}"></div>

</body>

</html>