<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="|다모아 판매게시판 - 게시글 등록|"></title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <script th:replace="~{/layout/includeLink::includeLink}"></script>

    <script>
        $(function(){
          $(".dropdown-item").click(function(){
              $("#myStatus").html($(this).html());
              if($(this).html() == '컴퓨터/노트북'){
                $("#category").val(1);
              } else if( $(this).html() == '스마트폰/태블릿' ){
                $("#category").val(2);
              } else if( $(this).html() == '워치' ){
                $("#category").val(3);
              } else if( $(this).html() == '음향기기' ){
                $("#category").val(4);
              } else if( $(this).html() == '생활가전' ){
                $("#category").val(5);
              } else if( $(this).html() == '기타' ){
                $("#category").val(6);
              }
          });

          // 제출 버튼 클릭 이벤트
          /*$("#submitBtn").click(function(){

            let requestData = {"title": $("#title").val()
                            , "price": $("#price").val()
                            , "img": $("#img")[0].files
                            , "category": $("#category").val()
                            , "content": $("#content").val()};

            console.log(requestData);

            let formData = new FormData();
            formData.append("img", $("#img")[0].files, {type: "multipart/form-data"});
            formData.append("request", new Blob([JSON.stringify(requestData)], {type: "application/json"}));

            $.ajax({
                type: "POST",
                url: "/addBoard",
                data: formData,
                processData:false,
                contentType:false,
                success: function(data){
                    console.log(data);
                },
                error: function(err){
                    alert("데이터 전송 실패!");
                }
            });
          });*/
        });

    </script>

</head>
<body>

<!-- 헤더 -->
<div th:replace="~{/layout/header::header}"></div>

<!-- 사이드바 -->
<div th:replace="~{/layout/sidebar::sidebar}"></div>

<main id="main" class="main">
    <form action="/addBoard" method="post" enctype="multipart/form-data">
        <div id="board insert">
            <div>올바른 중고 거래를 위해 바른 말을 사용해주세요.</div>
            <div class="mt-3 card p-3">
                <div class="d-flex">
                    <h5 class="m-2">
                        <b>제목&nbsp;&nbsp;</b>
                    </h5>
                    <input id="title" name="title" type="text" class="form-control col ms-2" placeholder="제목을 입력해주세요." autocomplete="off">
                </div>
            </div>
        </div>
        <!-- 제목 -->

        <div class="card p-3">
            <div class="d-flex">
                <h5 class="m-2">
                    <b>장소&nbsp;&nbsp;</b>
                </h5>
                <input id="address" name="location" type="hidden" class="form-control col ms-2" value="">
                <div id="map" class="form-control col ms-2" style="height:500px;"></div>
                <script type="text/javascript"
                        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2dee0bb54e20c019b2a6a80534fd99d7&libraries=services"></script>
            </div>
        </div>

        <section class="section">
            <div class="row mt-3 justify-content-around">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="row p-3">
                            <!-- 가격 -->
                            <div class="col-4 d-flex">
                                <h5 class="font-weight-bold mt-2 mx-1">
                                    <strong>가격&nbsp;&nbsp;</strong>
                                </h5>
                                <div class="col">
                                    <input
                                            id="price"
                                            name="price"
                                            class="form-control"
                                            placeholder="0"
                                            autocomplete="off"
                                    />
                                </div>
                            </div>
                            <!-- 첨부파일 -->
                            <div class="col-4 d-flex">
                                <h5 class="font-weight-bold mt-2 mx-1">
                                    <strong>첨부파일&nbsp;&nbsp;</strong>
                                </h5>
                                <div class="col">
                                    <input
                                            name="img"
                                            type="file"
                                            id="img"
                                            class="form-control"
                                            multiple
                                    />
                                </div>
                            </div>
                            <!-- 카테고리 -->
                            <div class="col-4 d-flex">
                                <h5 class="font-weight-bold mt-2 mx-1">
                                    <strong>카테고리&nbsp;&nbsp;</strong>
                                </h5>
                                <div>
                                    <div>
                                        <input id="category" type="number" name="categoryNo" value="" class="d-none"/>
                                        <button id="myStatus" type="button" class="btn btn-outline-dark dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            카테고리
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">컴퓨터/노트북</a></li>
                                            <li><a class="dropdown-item" href="#">스마트폰/태블릿</a></li>
                                            <li><a class="dropdown-item" href="#">워치</a></li>
                                            <li><a class="dropdown-item" href="#">음향기기</a></li>
                                            <li><a class="dropdown-item" href="#">생활가전</a></li>
                                            <li><a class="dropdown-item" href="#">기타</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 가격 첨부파일 카테고리 끝 -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <!-- 내용 -->
                    <div class="card">
                        <textarea name="content" id="content" rows="10" class="border rounded m-3 p-2"
                                  placeholder="내용을 입력해주세요." autocomplete="off"></textarea>
                        <div class="card-footer">
                            <div class="d-flex justify-content-end gap-2">
                                <!-- 버튼 영역 -->
                                <button type="submit" class="btn btn-outline-primary">등록</button>
                            </div>
                        </div>
                    </div>
                    <!-- 내용 -->
                </div>
            </div>
        </section>
    </form>
</main>
<!-- End #main -->

<!-- <head>로 올리면 Jquery보다 먼저 선언돼서 오류 발생 -->
<script src="/assets/js/map.js" />

<!-- includeAsset -->
<div th:replace="~{/layout/includeAsset::includeAsset}"></div>

</body>

</html>