<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="|다모아 판매게시판 - 게시글 등록|"></title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <script th:replace="~{/layout/includeLink::includeLink}"></script>

    <script>
        $(function(){
          //드랍다운 클릭 시 값변경
          $(".dropdown-item").click(function(){
              $("#myStatus").html($(this).html());
              $("#category").val($(this).html());
          });


        });


    </script>

</head>

<body>

<!-- 헤더 -->
<div th:replace="~{/layout/header::header}"></div>

<!-- 사이드바 -->
<div th:replace="~{/layout/sidebar::sidebar}"></div>

<main id="main" class="main">
    <div id="board insert">
        <div>올바른 중고 거래를 위해 바른 말을 사용해주세요.</div>
        <div class="mt-3 card p-3">
            <div class="d-flex">
                <h5 class="m-2">
                    <b>제목 :</b>
                </h5>
                <input name="title" id="title" type="text" class="form-control col" placeholder="제목을 입력해주세요.">
            </div>
        </div>
    </div>
    <!-- 제목 -->

    <section class="section">
        <div class="row mt-3 justify-content-around">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row p-3">
                        <!-- 가격 -->
                        <div class="col-4 d-flex">
                            <h5 class="font-weight-bold mt-2 mx-1">
                                <strong>가격 : &nbsp;&nbsp;</strong>
                            </h5>
                            <div class="col">
                                <input
                                        name="price"
                                        id="price"
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                />
                            </div>
                        </div>
                        <!-- 첨부파일 -->
                        <div class="col-4 d-flex">
                            <h5 class="font-weight-bold mt-2 mx-1">
                                <strong>첨부파일 :&nbsp;&nbsp;</strong>
                            </h5>
                            <div class="col">
                                <input
                                        type="file"
                                        id="img"
                                        class="form-control"
                                        name="img"
                                        multiple
                                />
                            </div>
                        </div>
                        <!-- 카테고리 -->
                        <div class="col-4 d-flex">
                            <h5 class="font-weight-bold mt-2 mx-1">
                                <strong>카테고리 : &nbsp;&nbsp;</strong>
                            </h5>
                            <div>
                                <div>
                                    <input id="category" name="category" class="d-none" />
                                    <button id="myStatus" type="button" class="btn btn-outline-dark dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        카테고리
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">컴퓨터/노트북</a></li>
                                        <li><a class="dropdown-item" href="#">스마트폰/태블릿</a></li>
                                        <li><a class="dropdown-item" href="#">워치</a></li>
                                        <li><a class="dropdown-item" href="#">음향기기</a></li>
                                        <li><a class="dropdown-item" href="#">생활가전</a></li>
                                        <li><a class="dropdown-item" href="#">기타</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 가격 첨부파일 카테고리 끝 -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <!-- 내용 -->
                <div class="card">
                    <textarea rows="10" class="border rounded m-3 p-2" placeholder="내용을 입력해주세요."></textarea>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end gap-2">
                            <!-- 버튼 영역 -->
                            <button type="button" class="btn btn-outline-primary">
                                저장
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 내용 -->
            </div>
        </div>
    </section>
</main>
<!-- End #main -->

<!-- includeAsset -->
<div th:replace="~{/layout/includeAsset::includeAsset}"></div>

</body>

</html>